.container {
	padding: 80px 40px 80px 40px;
}
.container-fluid {
	padding: 80px 40px 80px 40px;
}
header {
	background-color: #efefef;
	box-shadow: 0px 4px 8px #aaa;
}
header .container {
	padding-top: 40px;
	padding-bottom: 40px;
}
footer {
	color: white;
	background-color: #242424;
	box-shadow: 0px -4px 8px #aaa;
}
footer .container {
	padding-top: 40px;
	padding-bottom: 40px;
}