.drop-zone, .drop-zone-min {
	border: 1px solid #ccc;
	background-color: #efefef;
	width: 100%;
	height: 100px;
	color: #747474;
	font-family: 'quicksand';
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0px 0px 8px #aaa inset;
}
.drop-zone:hover, .drop-zone-min:hover {
	background-color: #8dca23;
	color: white;
}
.drop-zone-min {
	width: 32px;
	height: 32px;
}
.inner-wrapper {
	pointer-events: none;
}
.widget-wrapper:hover {
	outline: 2px solid #8dca23;
}
#selected-element {
	position: fixed;
	pointer-events: none;
}