.row {
	position: relative;
}
.drop-zone, .drop-zone-min {
	border: 1px solid #ccc;
	background-color: #efefef;
	width: 100%;
	height: 100px;
	color: #747474;
	font-family: 'Changa';
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0px 0px 8px #aaa inset;
	user-select: none;
	transition: background ease 0.25s;
}
.drop-zone:hover, .drop-zone-min:hover {
	background-color: #8dca23;
	color: white;
}
.drop-zone {
	display: block;
}
.drop-zone-min {
	display: none;
	width: 32px;
	height: 32px;
}
.inner-wrapper {
	pointer-events: none;
	user-select: none;
	min-height: 18px;
}
.widget-wrapper:hover, .row-wrapper:hover {
	outline: 2px solid #73a122;
}
.widget-wrapper:hover::before, .row-wrapper:hover::before {
	padding: 0px 4px 2px 4px;
	background-color: #73a122;
	pointer-events: none;
	user-select: none;
	position: absolute;
	color: white;
	font-size: 12px;
	float: left;
	z-index: 99;
}
.widget-wrapper:hover::before {
	content: attr(widget-name);
}
.row-wrapper:hover::before {
	content: "Row";
}
.col-resizer-wrapper {
	height: auto;
	z-index: 100;
}
.col-resizer:not(:active) {
	opacity: 0;
}
.col-resizer {
	cursor: grab;
	transition: opacity 0.25s, background 0.25s;
	transform: translateX(-50%);
	position: absolute;
	background-color: #73a122;
	padding: 0px 4px 4px 4px;
	user-select: none;
	color: white !important;
	border-radius: 25px;
	height: 100%;
	width: 16px;
}
.col-resizer span {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.col-resizer:hover {
	opacity: 1;
}
.col-resizer:active {
	background-color: #cccccc;
}
#selected-element {
	position: fixed;
	pointer-events: none;
	user-select: none;
}
#row-context-wrapper, #col-context-wrapper, #widget-context-wrapper {
	z-index: 101;
}